*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}
.head{
width: 1840px;
height: 870px;
background-image: url(1.png);
}
.nav{
    display: flex;
    align-items: center;
    margin-left: 295px;
    padding-top: 22px;
}
.nav ul{
display: flex;
color: white;
font-size: 16px;
font-weight: 600;
line-height: 22.2px;
padding-left: 240px;
gap: 42px;
}
.nav ul  :hover{
    font-size: 20px;
    transition: 550ms;
    color: #F57520;
    text-shadow: 0px 5px 13px;
}
.uu{
    padding-left: 300px;
}
.lo{
    padding-left: 50px;
}
.h1{
    font-family: Open Sans;
font-size: 96px;
font-weight: 800;
width: 679px;
height: 227px;
gap: 0px;
opacity: 0px;

margin-top: 80px;

}
.tu{
    margin-left: 300px;
    color: white;
}
.cn{
    width: 645px;
height: 87px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 28.8px;
letter-spacing: 0.01em;
text-align: left;

}
.frt{
    display: flex;
font-size: 16px;
font-weight: 600;
width:180px;
height:52px;
padding-top: 15px;
border: 2px solid #F57520;
border-radius: 10px ;
padding-left: 50px;
margin-top: 50px;
background-color: #F57520;
color: aliceblue;
}

.frt :hover {
font-size: 20px;
transition: 400ms;
text-shadow: 0px 2px 5px;
}
.bk{
    font-family: Open Sans;
font-size: 64px;
font-weight: 800;
line-height: 78.72px;
letter-spacing: 0.05em;
text-align: center;
color: black;
}
.sed{
   padding-top: 109px;
   width: 1840px;
background-color: gray;
color: aliceblue;
}
.cv{
    width: 1280px;
height: 300px;
border-radius: 10px ;
opacity: 0px;
font-family: Open Sans;
font-size: 40px;
font-weight: 700;
line-height: 49.2px;
letter-spacing: 0.05em;
align-items: center;
display: flex;
padding-left: 80px;
background-color: black;

}
.vse{
    margin-left: 250px;
    margin-top: 99px;
}
.hyu{
    position: relative;
    display: flex;
    width: 400px;
height: 458px;
background-color: black;
border-radius: 10px ;
opacity: 0px;
font-family: Open Sans;
font-size: 40px;
font-weight: 700;
line-height: 49.2px;
letter-spacing: 0.05em;
text-align: left;
padding-top: 40px;
padding-left: 110px;
}
.io{
    margin-top: 17px;
    display: flex;
    gap: 12px;
}
.sm{
    font-size: 40px;
font-weight: 700;
    width: 400px;
height: 216px;
gap: 0px;
padding-left: 27px;
padding-top: 20px;
border-radius: 10px ;
opacity: 0px;
background-color: black;
position: relative;
}
.hj{

padding-left: 30px;
}
.jk{
    
    padding-left: 30px;
    
}
.ki{
    display: flex;
    gap: 12px;
}

.su{
    font-size: 40px;
    font-weight: 700;
        width: 400px;
    height: 216px;
    gap: 0px;
    padding-left: 27px;
    padding-top: 20px;
    border-radius: 10px ;
    opacity: 0px;
    background-color: black;
    margin-top: 25px;
    position: relative;
}
.mk{
    padding-left: 110px;
}
.ip{
    position: absolute;
    right: 1px;
    top: 175px;
}
.lop{
    position: absolute;
    left: 270px;
    top: -1px;
}
.lu{
    position: absolute;
    top: 36px;
    left: 210px;
}
.le{
    position: absolute;
    left: 178px;
    top: 97px;
}
.lol{
position: absolute;
left: 228px;
top: -4px;
}
.ses{
    background-color: gray;
    width: 1840px;
    height: 2000px;
}
.h2{
    font-family: Open Sans;
font-size: 64px;
font-weight: 800;
line-height: 78.72px;
letter-spacing: 0.05em;
text-align: center;
padding-top: 157px;
}
.kio{
    padding-top: 150px;
}
.gw{
    width: 400px;
height: 462px;
top: 2319px;
left: 330px;
gap: 0px;

opacity: 0px;

background-color: black;
color: white;
}
.kio :hover{
     background-color: #F57520;
     box-shadow: 16px 3px 30px 2px #F57520;
     transition: all 300ms;
     
}
.h{
    width: 315px;
height: 87px;
top: 295px;
left: 27px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.01em;
padding-left: 40px;
padding-top: 70px;
}
.op{
font-size: 16px;
font-weight: 800;
line-height: 25.6px;
text-align: left;

}
.kio{
    width: 1380px;
height: 964px;
top: 2319px;
left: 330px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
display: flex;
flex-wrap: wrap;
margin: auto;
gap: 40px;
}
.section2{
    width: 1920px;
    height: 636px;
    margin: 0 auto;
    background-color: #F57520;
    background-image: url(img/image\ 86.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.section2 h2{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 49.2px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 620px;
    height: 98px;
    color: white;
transform: translate(320px, 52px);    
}
.form{
    width: 610px;
    height: 354px;
    border-radius: 10px;
    transform: translate(314px, 92px);

}

.in{
    display: flex;
    gap: 16px;
}
.put{
    display: flex;
    gap: 16px;

}
.in input{
    width:302px;
    height:46px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 16px; 
}
.put input{
    width:302px;
    height:46px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
}
.soob{
    width: 608px;
    height: 154px;
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 10px; 
    margin-bottom: 16px;
}
.zadat{
    width:608px;
    height:52px;
    padding: 16px 80px 16px 80px;
    gap: 10px;
    border-radius: 10px;
    padding-left: 249px;
}
.iframe{
    margin-top: 150px;
    width: 1920px;
    height: 500px;
}
.footer{
    width: 1920px;
    height: 370px;
    background-color:#101010;
    top: 465px;
    position: relative;
    margin: 0 auto ;
}
.footer img{
transform: translate(318px, 102px);

}
.div{
    transform: translate(760px, 92px);
    width: 840px;
    height: 198px;
    gap: 91px;
    display: flex;
}
.kata{
    width: 219px;
    height: 96px;
    gap: 32px;
    color: aliceblue;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}
.kata h3{
    margin-bottom: 32px;
}
.kata p{
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
text-align: left;
}


